@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #000;
    position: relative;
}

/* headings and logo */
h1,
h2 {
    font-family: 'Playfair Display', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

a {
    text-decoration: none;
    color: #fff;
}

#logo {
    font-size: 310%;
    margin-left: 20px;
}

.menu,
#logo {
    color: #000;
    top: 0;
}

/* navigation bar */
.menu {
    font-size: 120%;
    letter-spacing: 4px;

    /* max-width: 1800px;
    width: 90%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_menu li {
    list-style-type: none;
    margin-right: 20px;
    text-transform: uppercase;
    display: inline-block;
}

.nav_menu a {
    text-decoration: none;
    color: inherit;
}

.nav_menu a:hover {
    border-bottom: 1px solid #865f7b;
    color: #865f7b;
    font-style: italic;
}

.active {
    border-bottom: 1px solid #865f7b;
}

/* hero image and overlay */

#image_overlay {
    position: relative;
}

#hero-image {
    height: 750px;
    width: 100%;
    background: url(../images/hero_image_10_medium.jpg) no-repeat center center;
    overflow: hidden;

}

#cover-text {
    font-size: 120%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 250px;

    background: rgba(255, 255, 255, .7);
    position: absolute;
    bottom: 0;
}

/* metaverse definition */

.metaverse-definition {
    height: 300px;
    padding: 20px;
    text-align: center;

}

.metaverse-definition>div {
    padding: 10px;
}


/* navigation button on hero-image */

.buttons {
    color: #fff;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;

    background-color: #865f7b;
    padding: 20px 50px;
    margin: 10px;
    border-radius: 8%;
}

.buttons:hover {
    color: #fff;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;

    background-color: #9d9d9d;
    padding: 20px 50px;
    margin: 10px;
    border-radius: 8%;
}

.metaverse_image {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

/* introduction video section */

#introduction_video {
    text-align: center;
    padding: 20px 20px 40px 20px;
}

.introduction_text {
    padding-bottom: 40px;
}

.responsive_video {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.responsive_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Important Characteristics section */

#characteristics_title {
    text-align: center;
    padding: 50px 20px 20px 20px;
}

.meta_characteristics {
    height: 500px;
    background-image: url(../images/Palmtree_bathtub_metaverse.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.character_item {
    background-color: rgba(255, 255, 255, .85);
    color: #000;
    border: 2px solid #fff;
    box-sizing: border-box;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character_item>p {
    min-height: 20px;
    max-height: 60px;
}

/* books page */


#books_heroimage {
    height: 750px;
    width: 100%;
    background: url(../images/swimmingpool_meta.jpg) no-repeat center center;
    overflow: hidden;

}

.books_pagedescription {
    text-align: center;
    padding: 20px;
}

.books_grid {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 5px;
}

.books_grid ul {
    list-style-type: none;
}

.books_grid img {
    object-fit: cover;
}

/* Sign Up Page */

#signup_heroimage {
    height: 750px;
    width: 100%;
    background: url(../images/nature_inmetaverse.jpg) no-repeat center center;
    overflow: hidden;
}

.signup_form {
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.signup_header {
    padding: 20px;
    text-align: center;
}

.input_text {
    background: #9d9d9d;
    width: 100%;
    height: 25px;
    margin: 10px 0 25px 0;
    border: 1px solid #865f7b;
    border-radius: 3px;
}

.input_radio,
.input_radiolabel {
    margin: 20px 10px 20px 0;
}

.signup_form>.buttons {
   display: block;
   margin: 20px auto;
}



/* footer */

footer {
    height: 200px;
    width: 100%;
    background-color: #000;
    bottom: 0;

}

.footer_information {
    color: #fff;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.footer_information>ul {
    list-style-type: none;
}

.footer_items {
    text-align: center;
    align-self: center;
}

.footer_titles {
    font-weight: 700;
}

/* media queries */

/* for screen size from 1200px wide and down  */
 @media screen and (max-width: 1200px) {
.nav_menu {
    padding-top: 20px;
    padding-bottom: 20px;
} 

.menu {
    flex-direction: column;
} 

.meta_characteristics{
    grid-auto-flow: row;
}

.character_item {
    padding: 0 20px 0 20px;
}

.books_grid {
    grid-template-columns: repeat(2, 1fr);
}


 }
/* for screen size from 800px wide and down  */
@media screen and (max-width: 800px) {
    .nav_menu {
        padding: 10px;
    } 

    .nav_menu li {
        display: block;
        padding: 5px;
        margin-right: 0;
    }

    #cover-text {
        padding: auto;
    }

    .books_grid {
        grid-template-columns: repeat(1, 1fr);
    }
    }

    @media screen and (max-width: 400px) {
        #logo {
            font-size: 210%;
            margin-left: 20px;
        }
    }