@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */
h1,
h2 {
    font-family: 'Playfair Display', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 310%;
    margin-left: 20px;
}


/* navigation links */
#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu,
#logo {
    color: white;
    line-height: 100px;
    position: relative;
    top: 0;
    z-index: 1;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #c36bc3;
    color: #c36bc3;
    font-style: italic;
}

.active {
    border-bottom: 1px solid white;
}

#image_overlay {
    position: relative;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url(../images/hero_image_08_medium.jpg) no-repeat center center;
    overflow: none;
}

#cover-text {
    font-size: 120%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 250px;

    background: rgba(255, 255, 255, .4);
    position: absolute;
    bottom: 0;
}

.metaverse-definition {
    height: 300px;
    padding: 20px;
    text-align: center;

}

.metaverse-definition > div {
    padding: 10px;
}

.video_button {
    color: white;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    
    background-color: #c36bc3;
    padding: 20px;
    margin: 10px;
    border-radius: 8%;
}

#introduction_video {
    text-align: center;
}