@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #000;
    position: relative;
}

/* headings and logo */
h1,
h2 {
    font-family: 'Playfair Display', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

a {
    text-decoration: none;
    color: #fff;
}

#logo {
    float: left;
    font-size: 310%;
    margin-left: 20px;
}


/* navigation bar */
#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu,
#logo {
    color: #000;
    line-height: 100px;
    position: relative;
    top: 0;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #865f7b;
    color: #865f7b;
    font-style: italic;
}

.active {
    border-bottom: 1px solid #fff;
}

/* hero image and overlay */

#image_overlay {
    position: relative;
}

#hero-image {
    height: 750px;
    width: 100%;
    background: url(../images/hero_image_10_medium.jpg) no-repeat center center;
    overflow: hidden;

}

#cover-text {
    font-size: 120%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 250px;

    background: rgba(255, 255, 255, .4);
    position: absolute;
    bottom: 0;
}

/* metaverse definition */

.metaverse-definition {
    height: 300px;
    padding: 20px;
    text-align: center;

}

.metaverse-definition>div {
    padding: 10px;
}


/* navigation button on hero-image */

.buttons {
    color: #fff;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;

    background-color: #865f7b;
    padding: 20px 50px;
    margin: 10px;
    border-radius: 8%;
}

.buttons:hover {
    color: #fff;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;

    background-color: #9d9d9d;
    padding: 20px 50px;
    margin: 10px;
    border-radius: 8%;
}

.metaverse_image {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

/* introduction video section */

#introduction_video {
    text-align: center;
    padding: 20px;
}

#introduction_video>iframe {
    padding: 20px;
}


/* Important Characteristics section */

#characteristics_title {
    text-align: center;
    padding: 20px;
}

.meta_characteristics {
    height: 750px;
    background-image: url(../images/hero_image_02.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: row;
}

.meta_characteristics>div {
    background-color: rgba(255, 255, 255, .6);
    color: #000;
    border: 2px solid white;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

}

/* books page */

#books_heroimage {
    height: 750px;
    width: 100%;
    background: url(../images/swimmingpool_meta.jpg) no-repeat center center;
    overflow: hidden;
}

.books_pagedescription {
    text-align: center;
    padding: 20px;
}

.bookstoread {
    text-align: center;
    margin: 40px auto 200px;
    padding: 40px;
}

.bookstoread img {
    object-fit: cover;
}


/* Sign Up Page */

#signup_heroimage {
    height: 750px;
    width: 100%;
    background: url(../images/nature_inmetaverse.jpg) no-repeat center center;
    overflow: hidden;
}

.signup_form {
    height: 750px;
    width: 500px;
    margin: 0 auto;
}

.signup_header {
    padding: 20px;
    text-align: center;
}

.input_text{
    background: #9d9d9d;
    width: 100%;
    height: 25px;
    margin: 25px 200px 25px 30px;
    border: 1px solid #865f7b;
    border-radius: 3px;
}

.input_radio, .input_radiolabel {
    margin: 20px 10px 20px 30px;
}

.input_textlabel, .signup_form > .buttons {
    margin: 20px 200px 25px 30px;
}

/* footer */

footer {
    height: 200px;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: 0;

}

.footer_information {
    color: #fff;
}

.footer_information>ul {
    display: inline-block;
    list-style-type: none;

}

.footer_left {
    padding-top: 50px;
    width: 33%;
    float: left;
    margin: 0 auto;
    text-align: center;
}

.footer_center {
    padding-top: 50px;
    width: 33%;
    margin: 0 auto;
    text-align: center;
}

.footer_right {
    padding-top: 50px;
    width: 33%;
    float: right;
    margin: 0 auto;
    text-align: center;
}

.footer_titles {
    font-weight: 700;
}